/*--- Fonts --- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/*--- Global css --- */
*
{
    margin: 0;
    padding: 0;
}
body
{
    font-family: 'Poppins', sans-serif;
    background-color: #F3F1FF;
}
.container{
    width: 1070px;
}
.navbar{
    background: #562EFF;
    margin-bottom: 10px;
}
nav img {
    width: 51px;
}
.nav-container{
    color: #fff;
    padding-top: 5px;
    padding-bottom: 5px;
}
.w-text-h, .w-text-a{
    color: #fff;
}
.w-text-a{
    padding-top: 22px;
    margin-right: 20px;
    font-weight: 300;

}
.w-text-a:hover{
    color: #fff;
}

/* Thanks for watching */
/* ##/12/2022 */